doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body.app
    nav.navbar.navbar-default
      div.navbar-header
        a.navbar-brand(href='/') DBYD Prototype
      div.collapse.navbar-collapse#bs-example-navbar-collapse-1 
        if user
          ul.nav.navbar-nav 
            li 
              a(href='/job') Enquiries
            li 
              a(href='/logout') Logout
          ul.nav.navbar-nav.navbar-right
            li 
              a(href="/") #{user.contact}
        if !user
          ul.nav.navbar-nav
            li
              a(href='/login') Login

    block content